<% provide(:title, "About") %>
<h1>About</h1>
<p>
  A Twitter-like application where you can post about your everyday things! Let the world know!

  <br><br>

  This app was made by me, Stephen Clem. I am a full-stack, ruby and javascript enthusiast. I have a passion for learning, algorithms, UX design, data visualization, and a nice hike. My goal in life is to utilize and expand my knowledge to craft beautiful, efficient, and user friendly products that are enjoyable for end users and administrators alike.

  <br><br>

  If you are interested to know a little bit more about me, please feel free to check out my <a href="http://stephenclem.com">personal website</a>!
</p>