<% provide(:title, "Help") %>
<h1>Contact</h1>
<p style="text-align:center">
  Have some questions? Want to contact me? Please feel free to email me at <a href="mailto:stevebclem@gmail.com"> stevebclem@gmail.com</a>!
</p>